
:root {
    --bg-purple: #4A148C;
    --depp-purple: #3c096c;
    --text-white: #fff;
    --font-size-logo: 1.5rem;
    --font-weight-bold: bold;
    --font-size-base: 0.875rem;
    --padding-top-sidebar: 0; /* Alinhamento ao topo */
    --margin-bottom-logo: 20px;
    --icon-size-small: 16px;
    --icon-size-medium: 24px;
    --icon-size-large: 32px;
}

body {
    font-size: var(--font-size-base);
}

select {
    width: 400px !important;
}

.sidebar {
    background-color: var(--bg-purple);
    height: auto;
    padding-top: var(--padding-top-sidebar);
}

.sidebar .logo {
    position: relative;
    text-align: center;
    color: var(--text-white);
    font-size: var(--font-size-logo);
    font-weight: bolder;
    padding: 15px;
    margin: 0;
    margin-left: -15px;
    width: 100%; /* Largura relativa */
    max-width: 100%; /* Garantir que a logo não exceda a largura do contêiner */
    background-color: var(--deep-purple); /* Corrigi a cor: deep-purple em vez de depp-purple */
}

.sidebar .nav-link {
    color: var(--text-white);
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.sidebar .nav-link.active {
    color: var(--text-white);
}

/* Estilo para o indicador (seta) */
.sidebar .nav-link.active .indicator {
    margin-left: auto;
}


.sidebar .nav-link:not(.active):hover {
    background-color: var(--depp-purple);
    border-radius: 15px;
}

.sidebar .nav-link.active {

}

.sidebar .nav-link span {
    margin-left: 10px;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.form-group label {
    font-weight: var(--font-weight-bold);
}

.form-select {
    display: flex;
    margin-left: 15px;
}

.payment {
    display: flex;
    margin-left: -15px;
}

input {
    display: block;
    height: 37px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 10px;
  }

/* Personalização de tamanho dos ícones */
.icon-small {
    font-size: var(--icon-size-small);
}

.icon-medium {
    font-size: var(--icon-size-medium);
}

.icon-large {
    font-size: var(--icon-size-large);
}

.user{
    list-style-type: none;
    margin-top: 40px;
    margin-left: 15px;
    color: var(--text-white);
}
.card-user{
    background-color: var(--depp-purple);
    padding-left: 10px;
    width: 140px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 15px;
}

.users{
    font-size: var(--icon-size-large);
}

.flex{
    display: flex;
    gap: 17px;
}

.flex .form-group select,
.flex .form-group input{
    width: 600px;
}

@media (max-width: 1200px) {
    .sidebar .logo {
        font-size: calc(var(--font-size-logo) * 0.9); /* Ajuste o tamanho da fonte */
        padding: 12px;
    }
}

@media (max-width: 992px) {
    .sidebar .logo {
        font-size: calc(var(--font-size-logo) * 0.8); /* Ajuste o tamanho da fonte */
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .sidebar .logo {
        font-size: calc(var(--font-size-logo) * 0.7); /* Ajuste o tamanho da fonte */
        padding: 8px;
    }
}

@media (max-width: 576px) {
    .sidebar .logo {
        font-size: calc(var(--font-size-logo) * 0.6); /* Ajuste o tamanho da fonte */
        padding: 6px;
    }
}
